@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #235242;
  --grey-color: #555555;
  --skygreen--color: #e1fff5;
}

h1 {
  font-size: 4rem;
  word-spacing: 2px;
}

h5 {
  font-size: 13px;
  word-spacing: 2px;
}

.button {
  font-size: 1rem;
  text-decoration: none;
  background-color: #235242;
  border-color: transparent;
  cursor: pointer;
  color: white;
  padding: 14px;
  border-radius: 5px;
}

p {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--grey-color);
}

.black {
  padding-top: 10px;
  font-size: 1rem;
  color: black;
}

/* Navigation Bar */

.navbar {
  margin-left: 4rem;
  margin-right: 4rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_logo {
  font-size: 2.4rem;
  cursor: pointer;
  letter-spacing: 1px;
  color: var(--main-color);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 2rem;
}

nav ul li a {
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
}

.btn {
  text-decoration: none;
  color: color;
  font-weight: 400;
  font-size: 1rem;
  border: 2px solid transparent;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn1 {
  background-color: transparent;
  color: var(--grey-color);
}

.btn2 {
  background-color: var(--main-color);
  color: white;
}

/* Introduction */

.intro {
  background: var(--skygreen--color);
  margin-bottom: 0;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 32rem;
  width: 40rem;
}

.cont {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 10rem;
}

.btn3 {
  margin-top: 2rem;
}

/* About-Us */

.about {
  margin-top: 7rem;
}

.photo {
  height: 30rem;
  width: 32rem;
}

.cont2 {
  width: 18cm;
  padding-left: 5rem;
}

.sub {
  color: var(--main-color);
}

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary2 .s1 {
  font-size: 0.9rem;
}

h2 {
  font-size: 3rem;
}

/* .head2 {
  font-size: 3rem;
} */

/* Different Plant */

.different_plant {
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 0;
}

.diff_types {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.icon {
  width: 4rem;
}

.same_size {
  padding-top: 1rem;
}

.same_size2 {
  padding-top: 1rem;
  color: white;
}

.padd {
  margin: 2rem;
}

.plant_type {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 30px #eae8e896, 12px 10px 30px #eae8e896;
}

.plant_type2 {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: var(--main-color);
  box-shadow: 5px 5px 30px #eae8e896, 12px 10px 30px #eae8e896;
}

.same_weight {
  font-size: 13px;
  padding-top: 1rem;
}

.same_weight2 {
  font-size: 13px;
  padding-top: 1rem;
  color: white;
}

/* Work Process */

.box {
  position: absolute;
  left: 1rem;
  height: 25rem;
  width: 28rem;
  background-color: var(--main-color);
  z-index: -1;
  margin-top: -3rem;
}

.work_process {
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
  margin-bottom: 0rem;
}

.work {
  display: flex;
  justify-content: center;
}
.condition {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 0rem;
}

.cont3 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.icon2 {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 2rem;
  padding-left: 15px;
  padding-top: 15px;
}

.ico {
  height: 4rem;
  width: 4rem;
  background-color: var(--skygreen--color);
}

.ic {
  padding-top: 0.5rem;
}

.detail {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.block {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* Colaboration with */

.partners {
  margin-top: 8rem;
  background-color: var(--skygreen--color);
  margin-bottom: 0;
}

.work_with {
  margin-left: 15rem;
  margin-right: 15rem;
}

.head4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo2 {
  height: 12rem;
  width: 12rem;
  padding: 2rem;
}

.blog {
  margin-top: 7rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.p {
  width: 16cm;
}

.latest_blog {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: rem;
}

.btn4 {
  margin-top: 2rem;
}

.remidies {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}

.s {
  font-size: 1.7rem;
}

.gap {
  margin-top: 1rem;
  margin-right: 2.1rem;
}

.read {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
  margin-top: 1rem;
}

.re {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

/* Client */

.client {
  margin-top: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 0;
}

.happy_clients {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}

.rating {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
}

.rate {
  padding: 15px;
  margin: 20px 15px;
  box-shadow: 5px 5px 30px #eae8e896, 12px 10px 30px #eae8e896;
}

.down {
  padding-top: 0.5rem;
}

.si {
  height: 1rem;
  width: 5rem;
}

.small {
  height: 6rem;
  width: 6rem;
}

.person {
  display: flex;
}

.sm_pl {
  height: 20rem;
  position: relative;
  bottom: 2rem;
}

.deserve {
  margin-top: 8rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 0;
  background-color: var(--skygreen--color);
}

.des {
  display: flex;
  justify-content: space-between;
}

.best {
  padding-top: 4rem;
  padding-left: 4rem;
}

footer {
  margin-top: 7rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.foote {
  display: flex;
  justify-content: space-between;
}

.linkss {
  width: 15cm;
}

footer ul li {
  list-style: none;
  padding-top: 0.6rem;
}

footer a i {
  padding-top: 1rem;
  padding-right: 1.5rem;
  color: var(--main-color);
}

.list {
  margin-top: 1rem;
}

@media screen and (max-width: 1345px) {
  .main_logo {
    color: var(--main-color);
  }

  .head2 {
    font-size: 3.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .head_para {
    margin-left: 2.5cm;
    width: 25cm;
  }

  .diff_types {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 16cm;
  }

  .plant_type,
  .plant_type2 {
    width: 20cm;
  }

  .padd {
    margin-bottom: 5rem;
  }

  .same_size,
  .same_size2 {
    font-size: 3rem;
  }

  .same_weight,
  .same_weight2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .y {
    font-size: 2rem;
  }

  .icon {
    width: 10rem;
  }

  /* Clients */

  .client {
    margin-left: 5cm;
  }

  .happy_clients {
    width: 24cm;
  }

  .button {
    width: 4.6cm;
    font-size: 1.8rem;
  }

  .rating {
    flex-wrap: wrap;
    margin-left: cm;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 25cm;
  }

  .small {
    height: 4cm;
    width: 4cm;
  }

  .down {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .si {
    height: 1cm;
    width: 4cm;
  }

  /* Deserve */

  .deserve {
    width: 32cm;
  }

  .w {
    font-size: 2rem;
  }

  /* footer */

  .list {
    width: 9cm;
  }

  .fo {
    font-size: 2.5rem;
  }

  footer ul li {
    font-size: 1.5rem;
  }

  .navi {
    padding: 0.2rem;
  }

  i {
    padding-left: 1rem;
  }

  /* Partners */
  .partners {
    /* margin-left: 3cm; */
    width: 40cm;
  }

  .head4 {
    font-size: 4rem;
  }

  .logo2 {
    height: 6cm;
    width: 6cm;
  }

  /* Introduction */

  .intro {
    width: 40cm;
  }

  .btn3 {
    width: 6cm;
  }

  .summary {
    font-size: 2rem;
  }

  /* About Us */

  .about {
    width: 34cm;
  }

  .summary2 {
    font-size: 2rem;
    width: 20cm;
  }

  .sub {
    font-size: 3rem;
  }

  .black {
    font-size: 2rem;
    width: 20cm;
  }

  .img .photo {
    height: 20cm;
    width: 15cm;
  }

  /* Work Process */

  .work_process {
    width: 35cm;
  }

  .work {
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo {
    height: 20cm;
    width: 20cm;
  }

  .box {
    position: absolute;
    left: 6cm;
    height: 20cm;
    width: 20cm;
  }

  .summary3 {
    font-size: 2rem;
  }

  .te {
    font-size: 3rem;
  }

  .detail {
    width: 20cm;
    font-size: 2rem;
  }

  .block {
    position: relative;
    right: 5cm;
  }

  .ico {
    height: 10rem;
    width: 10rem;
  }

  .icon2 {
    padding-left: 1rem;
    padding-top: 1rem;
    height: 8rem;
    width: 8rem;
  }

  /* Blog */

  .blog {
    margin-left: 7cm;
    width: 25cm;
  }

  .remidies {
    flex-wrap: wrap;
    justify-content: center;
  }

  .p {
    font-size: 2rem;
    width: 20cm;
  }

  .btn4 {
    margin-left: 4rem;
  }

  .k {
    width: 25cm;
  }

  .re {
    font-size: 2rem;
  }

  .take_care {
    padding-top: 2rem;
  }

  .s {
    font-size: 3rem;
  }

  .g {
    font-size: 2rem;
  }

  .s1 {
    font-size: 2rem;
  }

  /* Navigation */

  .navbar {
    width: 34cm;
  }

  .main_logo {
    font-size: 4rem;
  }

  ul li {
    font-size: 1.5rem;
  }

  .btn1,
  .btn2 {
    font-size: 1.8rem;
  }
}
